<article class="donation">
  <div class="donation__header">
    <h4> our bigger impact</h4>
    <h3>we donate 10% of our sales</h3>
    <p>At Grow Your Impact, we are committed to making a difference in people's lives. Not only do we love helping woman build businesses and change their own lives, we also donate 10% of all revenue to charity. We are currently donating to St. Jude Children's Hospital.</p>
  </div>
  <img class="donation__image" src="images/St_Jude_Childrens_Research_Hospital_Logo.png"  alt="praying child">
</article>