<section class="features container">

  <header class="card__header">
    <p>our program</p>
    <h3>what you will learn</h3>
  </header>


  <article class="features__content">

    <div class="features "> 
      <span class="icon--container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#rocket"></use>
        </svg>      
      </span>
      <p class="feature__paragraph">
        Business foundations, getting ready to launch & sales
      </p>
      <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible offe pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyr, and understand how to sell authentically.</p>
    </div>

    <div class="features "> 
      <span class="icon--container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#paid"></use>
        </svg>      
      </span>
      <p class="feature__paragraph">
        Business foundations, getting ready to launch & sales
      </p>
      <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible o pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyffer, and understand how to sell authentically.</p>
    </div>

    <div class="features "> 
      <span class="icon--container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#savings"></use>
        </svg>      
      </span>
      <p class="feature__paragraph">
        Business foundations, getting ready to launch & sales
      </p>
      <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible of pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyfer, and understand how to sell authentically.</p>
    </div>


    <div class="features "> 
      <span class="icon--container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#attractions"></use>
        </svg>      
      </span>
      <p class="feature__paragraph">
        Business foundations, getting ready to launch & sales
      </p>
      <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible  pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyoffer, and understand how to sell authentically.</p>
    </div>

    <div class="features "> 
      <span class="icon--container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#groups"></use>
        </svg>      
      </span>
      <p class="feature__paragraph">
        Business foundations, getting ready to launch & sales
      </p>
      <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible offer, and understand how to sell authentically pick a profitable niche, craft and irresistible offer, and understand how to sell authentically.</p>
    </div>


    <div class="features "> 
      <span class="icon--container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#groups"></use>
        </svg>      
      </span>
      <p class="feature__paragraph">
        Business foundations, getting ready to launch & sales
      </p>
      <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible offer, and understand how to sell authentically pick a profitable niche, craft and irresistible offer, and understand how to sell authentically.</p>
    </div>

  </article>
  <button class="btn">
  Get Started for Free
  </button>
</section>