<footer class="footer">
  <div class="main-footer">
    <div class="first-media">
      <img  src="images/lady2.webp" alt="lady2">
      <button class="btn">About Natailia</button>
    </div>
    <div class="content">
      <img class="logo" src="images/GYI-Gold-Black-1.png" alt="logo">
      <nav class="list-content">
        <ul class="list"><li class="list-item">Home</li>
        <li class="list-item">Instagram Client Machine</li>
        <li class="list-item">About Us</li>
        <li class="list-item">Results</li>
        <li class="list-item">Free Resources</li>
        <li class="list-item">Book a call</li>
        </ul>
      </nav>
      <div class="media-icons">
        <span><img src="images/facebook.svg" ></span>
        <span><img src="images/instagram.svg" ></span>
        <span><img src="images/linkedin.svg" ></span>
        <span><img src="images/youtube.svg" ></span>
      </div>
      <div class="reference">
        <a target="_blank" href="https://icons8.com/icon/16166/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8 </a><span> && copyright Terfa Nomhwange</span>
      </div>
      
    </div>
    <div class="second-media">
      <img  src="images/lady3.webp" alt="lady3">
      <button class="btn">Free Resources</button>
    </div>
  </div>
  
</footer>