<div class="hero block--skewed">
  <img class="bckgrnd" src="images/sunnycloud.jpg">
  <img class="old-lady" src="images/—Pngtree—retro comic pop style blonde_5924484.png" alt="old lady">
  <div class="hero--content">
    <h2>create a six figure online business</h2>
    <h3>THAT MAKES A MASSIVE IMPACT</h3>
    <p class="hero__paragraph">An action plan designed specifically for female coaches, consultants, and course creators so that you can use your unique voice to attract a steady steam of clients online, authentically sell yourself, & become the go-to person in your niche.</p>
    <button class="btn">GET STARTED FOR FREE</button>
  </div>
 </div>