<section class="interviews">
  <header class="card__header">
    <p class="feature__para"> view our</p>
  <h3 class="title"> interviews</h3>
  </header>

  <div class="interviews__content">

    <div class="card__container">
      <div class="card">
        <header class="card__header card--header-color"><img src="images/lady3.webp" alt="smiling lady">
        <div class="interviews__paragraphs">
          <p class="author__name">Emily Kichler</p>
          <p class="para-bold">From working at a health unit to having a $9,500 launch</p>
        </div>
        </header>
          <div class="card__body">
            <iframe class="card__video" width="320" height="200" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
    </div>

    <div class="card__container">
      <div class="card">
        <header class="card__header card--header-color"><img src="images/lady2.webp" alt="smiling lady">
        <div class="interviews__paragraphs">
          <p class="author__name">Shay Pascale</p>
          <p class="para-bold">From working at a health unit to having a $9,500 launch</p>
        </div>
        </header>
          <div class="card__body">
            <iframe class="card__video" width="320" height="200" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
    </div>

    <div class="card__container">
      <div class="card">
        <header class="card__header card--header-color"><img src="images/lady1.webp" alt="smiling lady">
        <div class="interviews__paragraphs">
          <p class="author__name">Alyssa Gawboy</p>
          <p class="para-bold">From working at a health unit to having a $9,500 launch</p>
        </div>
        </header>
          <div class="card__body">
            <iframe class="card__video" width="320" height="200" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
    </div>      
  </div>

  <button class="btn">View More</button>
  
</section>
