<section class="mission">
  <div class="mission__content">
    <p class="feature__para"> grow your impact</p>
    <h3 class="title"> our mission</h3>
    <p class="mission__paragraph">There's two probles with female entrepreneurship currently: Either women are simply encouraged to follow their passion, pick out brand colors, design snazzy logos, build professional sites, and focus on building their following without any real daily client attraction strategy that will help them build ad sustainable business. Or women turn to the entirely masculine approach to business where everything is focused on numbers, logic, monk-like discipline, following grind culture, and putting in grueling 12 hour days to achieve success. The former leads to disappointment because getting clients is never predictable. The latter leads to burnout, stress, and unfulfillment.</p>
    <p class="mission__paragraph"> We believe that women need to understand how to build a “capsule business.” Similar to a capsule wardrobe where you have all the essentials, but everything has purpose and should bring you joy.</p>
  </div>
</section>
