<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grow Your Impact Replica</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;400;600;700&family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
  <section class="block-level">
    <nav class="navbar collapsible collapsible--expanded">
      <header class="navbar__header">
        <img class ="logo" src="images/GYI-Gold-Black-1.png" alt="logo">
        <span class="material-symbols-outlined menu-icon">
          menu
          </span>
      </header>
      <div class="collapsible__content">
        <ul class="list"><li class="list-item">Home</li>
        <li class="list-item">Instagram Client Machine</li>
        <li class="list-item">About Us</li>
        <li class="list-item">Results</li>
        <li class="list-item">Free Resources</li>
        <li class="list-item">Book a call</li>
        </ul>
      </div>
    </nav>
    
    <!-- sencondary navigation bar -->
    <nav class="secondary-navbar collapsible collapsible--expanded">
      
      <div class="secondary-collapsible__content">
        <ul class="list">
          <li class="list-item">Home</li>
          <li class="list-item">Our Program</li>
          <li class="list-item">About Us</li>
          <li class="list-item"><img class ="logo" src="images/GYI-Gold-Black-1.png" alt="logo"></li>
          
          <li class="list-item">Results</li>
          <li class="list-item">Free Resources</li>
          <li class="list-item">Book a call</li>
        </ul>
      </div>
    </nav>
  </section>

  <section class="block-level">
    <div class="hero block--skewed">
      <img class="bckgrnd" src="images/sunnycloud.jpg">
      <img class="old-lady" src="images/—Pngtree—retro comic pop style blonde_5924484.png" alt="old lady">
      <div class="hero--content">
        <h2>create a six figure online business</h2>
        <h3>THAT MAKES A MASSIVE IMPACT</h3>
        <p class="hero__paragraph">An action plan designed specifically for female coaches, consultants, and course creators so that you can use your unique voice to attract a steady steam of clients online, authentically sell yourself, & become the go-to person in your niche.</p>
        <button class="btn">GET STARTED FOR FREE</button>
      </div>
     </div>
  </section>

  <section class="features container">

    <header class="card__header">
      <p class="intro">our program</p>
      <h3>what you will learn</h3>
    </header>
  
  
    <article class="features__content">
  
      <div class="features "> 
        <span class="icon--container">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#rocket"></use>
          </svg>      
        </span>
        <p class="feature__paragraph">
          Business foundations, getting ready to launch & sales
        </p>
        <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible offe pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyr, and understand how to sell authentically.</p>
      </div>
  
      <div class="features "> 
        <span class="icon--container">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#paid"></use>
          </svg>      
        </span>
        <p class="feature__paragraph">
          Business foundations, getting ready to launch & sales
        </p>
        <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible o pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyffer, and understand how to sell authentically.</p>
      </div>
  
      <div class="features "> 
        <span class="icon--container">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#savings"></use>
          </svg>      
        </span>
        <p class="feature__paragraph">
          Business foundations, getting ready to launch & sales
        </p>
        <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible of pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyfer, and understand how to sell authentically.</p>
      </div>
  
  
      <div class="features "> 
        <span class="icon--container">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#attractions"></use>
          </svg>      
        </span>
        <p class="feature__paragraph">
          Business foundations, getting ready to launch & sales
        </p>
        <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible  pick a profitable niche, craft and irresistible offer, and understand how to sell authenticallyoffer, and understand how to sell authentically.</p>
      </div>
  
      <div class="features "> 
        <span class="icon--container">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#groups"></use>
          </svg>      
        </span>
        <p class="feature__paragraph">
          Business foundations, getting ready to launch & sales
        </p>
        <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible offer, and understand how to sell authentically pick a profitable niche, craft and irresistible offer, and understand how to sell authentically.</p>
      </div>
  
  
      <div class="features "> 
        <span class="icon--container">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#groups"></use>
          </svg>      
        </span>
        <p class="feature__paragraph">
          Business foundations, getting ready to launch & sales
        </p>
        <p  class="feature__paragraph2">Learn how to pick a profitable niche, craft and irresistible offer, and understand how to sell authentically pick a profitable niche, craft and irresistible offer, and understand how to sell authentically.</p>
      </div>
  
    </article>
    <button class="btn">
    Get Started for Free
    </button>
  </section>

  <section class="mission">
    <div class="mission__content">
      <p class="feature__para"> grow your impact</p>
      <h3 class="title"> our mission</h3>
      <p class="mission__paragraph1">There's two probles with female entrepreneurship currently: Either women are simply encouraged to follow their passion, pick out brand colors, design snazzy logos, build professional sites, and focus on building their following without any real daily client attraction strategy that will help them build ad sustainable business. Or women turn to the entirely masculine approach to business where everything is focused on numbers, logic, monk-like discipline, following grind culture, and putting in grueling 12 hour days to achieve success. The former leads to disappointment because getting clients is never predictable. The latter leads to burnout, stress, and unfulfillment.</p>
      <p class="mission__paragraph2"> We believe that women need to understand how to build a “capsule business.” Similar to a capsule wardrobe where you have all the essentials, but everything has purpose and should bring you joy.</p>
    </div>
  </section>

  <section class="interviews">
    <header class="card__header">
      <p class="feature__para"> view our</p>
    <h3 class="title"> interviews</h3>
    </header>
  
    <div class="interviews__content">
  
      <div class="card__container">
        <div class="card">
          <header class="card__header card--header-color"><img src="images/lady3.webp" alt="smiling lady">
          <div class="interviews__paragraphs">
            <p class="author__name">Emily Kichler</p>
            <p class="para-bold">From working at a health unit to having a $9,500 launch</p>
          </div>
          </header>
            <div class="card__body">
              <iframe class="card__video" width="320" height="200" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
  
      <div class="card__container">
        <div class="card">
          <header class="card__header card--header-color"><img src="images/lady2.webp" alt="smiling lady">
          <div class="interviews__paragraphs">
            <p class="author__name">Shay Pascale</p>
            <p class="para-bold">From working at a health unit to having a $9,500 launch</p>
          </div>
          </header>
            <div class="card__body">
              <iframe class="card__video" width="320" height="200" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
  
      <div class="card__container">
        <div class="card">
          <header class="card__header card--header-color"><img src="images/lady1.webp" alt="smiling lady">
          <div class="interviews__paragraphs">
            <p class="author__name">Alyssa Gawboy</p>
            <p class="para-bold">From working at a health unit to having a $9,500 launch</p>
          </div>
          </header>
            <div class="card__body">
              <iframe class="card__video" width="320" height="200" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>      
    </div>
  
    <button class="btn">View More</button>
    
  </section>

  <section>
    <article class="donation">
      <div class="donation__header">
        <h4> our bigger impact</h4>
        <h3>we donate 10% of our sales</h3>
        <p>At Grow Your Impact, we are committed to making a difference in people's lives. Not only do we love helping woman build businesses and change their own lives, we also donate 10% of all revenue to charity. We are currently donating to St. Jude Children's Hospital.</p>
      </div>
      <img class="donation__image" src="images/St_Jude_Childrens_Research_Hospital_Logo.png"  alt="praying child">
    </article>
  </section>

  <section>
    <section class="interviews">
      <header class="card__header">
        <p class="feature__para"> grow your impact and business</p>
      <h3 class="title"> free resources </h3>
      </header>
    
      <div class="interviews__content">     
    
        <div class="card__container first__child">
          <div class="card resource__card">        
              <div class="card__body video">
                <iframe class="card__video" width="100%" height="100%" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <header class="card__header card--header-color">
                <p class="resource__paragraph">From working at a health unit to having a $9,500 launch</p>
              </div>
              </header>
          </div> 
    
        <div class="card__container second__child ">
          <div class="card resource__card">        
              <div class="card__body video">
                <iframe class="card__video" width="100%" height="100%" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <header class="card__header card--header-color">
                <p class="resource__paragraph">From working at a health unit to having a $9,500 launch</p>
              </div>
              </header>
          </div>
    
        <div class="card__container last__child">
          <div class="card resource__card">        
              <div class="card__body video">
                <iframe class="card__video" width="100%" height="100%" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <header class="card__header card--header-color">
                <p class="resource__paragraph">From working at a health unit to having a $9,500 launch</p>
              </div>
              </header>
          </div> 
    
      </div>
    
      <button class="btn">View More</button>
      
    </section>
  </section>

  <section>
    <div  class="horizontal--card">
      <div class="card">
        <header class="card__header"><p class="invite1">are you interested?</p>
        <h3 class="invite">Join our free community</h3></header>
          <button class="btn">Claim your free spot</button>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <div class="main-footer">
      <div class="first-media">
        <img  src="images/lady2.webp" alt="lady2">
        <button class="btn">About Natailia</button>
      </div>
      <div class="content">
        <img class="logo" src="images/GYI-Gold-Black-1.png" alt="logo">
        <nav class="list-content">
          <ul class="list"><li class="list-item">Home</li>
          <li class="list-item">Instagram Client Machine</li>
          <li class="list-item">About Us</li>
          <li class="list-item">Results</li>
          <li class="list-item">Free Resources</li>
          <li class="list-item">Book a call</li>
          </ul>
        </nav>
        <div class="media-icons">
          <span><img src="images/facebook.svg" ></span>
          <span><img src="images/instagram.svg" ></span>
          <span><img src="images/linkedin.svg" ></span>
          <span><img src="images/youtube.svg" ></span>
        </div>
        <div class="reference">
          <a target="_blank" href="https://icons8.com/icon/16166/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8 </a><span> && copyright Terfa Nomhwange</span>
        </div>
        
      </div>
      <div class="second-media">
        <img  src="images/lady3.webp" alt="lady3">
        <button class="btn">Free Resources</button>
      </div>
    </div>
    
  </footer>
  

  <script src="script.js"></script>
</body>
</html>