<section class="interviews">
  <header class="card__header">
    <p class="feature__para"> grow your impact and business</p>
  <h3 class="title"> free resources </h3>
  </header>

  <div class="interviews__content">     

    <div class="card__container first__child">
      <div class="card resource__card">        
          <div class="card__body video">
            <iframe class="card__video" width="100%" height="100%" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <header class="card__header card--header-color">
            <p class="resource__paragraph">From working at a health unit to having a $9,500 launch</p>
          </div>
          </header>
      </div> 

    <div class="card__container second__child ">
      <div class="card resource__card">        
          <div class="card__body video">
            <iframe class="card__video" width="100%" height="100%" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <header class="card__header card--header-color">
            <p class="resource__paragraph">From working at a health unit to having a $9,500 launch</p>
          </div>
          </header>
      </div>

    <div class="card__container last__child">
      <div class="card resource__card">        
          <div class="card__body video">
            <iframe class="card__video" width="100%" height="100%" src="https://www.youtube.com/embed/bJzb-RuUcMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <header class="card__header card--header-color">
            <p class="resource__paragraph">From working at a health unit to having a $9,500 launch</p>
          </div>
          </header>
      </div> 

  </div>

  <button class="btn">View More</button>
  
</section>