 <!-- sencondary navigation bar -->
 <nav class="secondary-navbar collapsible collapsible--expanded">
    
  <div class="secondary-collapsible__content">
    <ul class="list">
      <li class="list-item">Home</li>
      <li class="list-item">Our Program</li>
      <li class="list-item">About Us</li>
      <li class="list-item"><img class ="logo" src="images/GYI-Gold-Black-1.png" alt="logo"></li>
      
      <li class="list-item">Results</li>
      <li class="list-item">Free Resources</li>
      <li class="list-item">Book a call</li>
    </ul>
  </div>
</nav>
